.popup__close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: 8px;
  background-color: transparent;
  background-image: url(../../../image/popup/close-icon.svg);
  background-repeat: no-repeat;
  z-index: 2;
  background-size: contain;
  border: none;
  align-self: flex-start;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    align-self: flex-end;
    width: 20px;
    height: 20px;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
