.popup__submit-button {
  width: calc(100% - 72px);
  height: 50px;
  margin: 33px 36px 34px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  padding: 0;
  transition: opacity 0.3s linear;
}

.popup__submit-button:not([disabled]):hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .popup__submit-button {
    width: calc(100% - 44px);
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 42px 22px 25px;
  }
}
